extends layout

block content
  if posts
    each post,i in posts
      .post h1
           a(href='/showPost/#{post._id}')
              = post.title
        p.meta Posted in 
           a(href='/showCategory/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format('MM-DD-YYYY')}
        !=truncateText(post.body,400)
        a.more(href='/showPost/#{post._id}') Read More
  else
    p.noposts There are no Posts to display
 